#crycollect {
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    width: 350px;
}

#instructdiv {
    width: 75%;
}

#instructions {
    background-color: #FFEE8F;
    color: #169801;
    padding: 20px;
    margin: 10px;
}

#num {
    background-color: #169801;
    color: rgb(88, 14, 76);
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    width: 70px;
    float: left;
}

#wlbox {
    background-color: rgb(10, 224, 240);
    padding: 20px;
    margin: 10px;
    width: 60px;
    float: left;
}

.crystal {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: rgb(180, 166, 166) 2px groove;
}

.crystal img {

}

.cryBox {
    clear: both;
}

#totalscore {
    background-color: rgb(61, 175, 132);
    color: #FFFFFF;
    float: left;
    clear: both;
    width: 200px;
    margin: 10px 0px;
}

#bottomnum {
    background-color: rgb(61, 175, 132);
    color: rgb(70, 9, 9);
    height: 75px;
    float: left;
    clear: both;
    width: 200px;
    font-size: 30px;    
}

